.top_title{
  width : 100%;
  font-size: 20px;
  background-color: pink;
  padding: 4px;
  margin-bottom: 4px;
}

/* index.html.erbの表示に関するCSS */
.image_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item{
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.item_image{
  position: relative;
}

.not_order{
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 25px;
  color: red;
}

.item-name{
  color: blue;
}

.item-text{
}

 /* タブレット表示時 */
@media (max-width: 1024px) {
  .item{
    width: 48%;
    margin-bottom: 40px;
  }

  .not_order{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    color: red;
  }
}

 /* スマートフォン表示時 */
 @media (max-width: 599px) {
  .item{
    width: 100%;
    margin-bottom: 40px;
  }

  .not_order{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 16px;
    color: red;
  }
}


/* ここまで(index.html.erbの表示に関するCSS */

.img-upload{
  font-size: 20px;
  margin: 10px 0px;
}

.new-items{
  font-size: 20px;
  margin: 10px 0px;
}

.items-text, .order-text{
  width: 30%;
  height: 100px;
  margin: 10px 0px;
}

.submit-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid blue;
  color: white;
  background-color: orange;
}

.order-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid blue;
  color: green;
  background-color: greenyellow;
}

.edit-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid green;
  color: blue;
  background-color: lightskyblue;
}

.delete-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid red;
  color: pink;
  background-color: lightcoral;
}