.top_title{
  width : 30%;
  font-size: 20px;
  background-color: pink;
  padding: 4px;
  margin-bottom: 4px;
}

.img-upload{
  font-size: 20px;
  margin: 10px 0px;
}

.new-items{
  font-size: 20px;
  margin: 10px 0px;
}

.items-text{
  width: 30%;
  height: 100px;
  margin: 10px 0px;
}

.item-name{
  color: blue;
}

.item_image{
  position: relative;
}

.not_order{
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 30px;
  color: red;
}

.submit-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid blue;
  color: white;
  background-color: orange;
}

.order-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid blue;
  color: green;
  background-color: greenyellow;
}

.edit-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid green;
  color: blue;
  background-color: lightskyblue;
}

.delete-btn{
  width: 200px;
  padding: 15px;
  border: 1px solid red;
  color: pink;
  background-color: lightcoral;
}